#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Skroot App
Exec=bash -c "cd /home/skroot/.local/DesktopApp && /usr/bin/python3 main_cell.py"
Icon=/home/skroot/.local/DesktopApp/resources/squareLogo.PNG
Version=v0.0.0
Terminal=false
Type=Application
