[Desktop Entry]
Name=kiosk
Comment=My-Kiosk-App
Exec=gnome-session --session kiosk
Type=Application
DesktopNames=kiosk:GNOME
X-Ubuntu-Gettext-Domain=gnome-session-3.0
